#Telosys-Tools properties
#Mon Dec 25 21:05:36 CET 2017
ProjectVariable.PROJECT_NAME=ripHouse-ejb
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=org.riphouse
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
RepositoriesFolder=TelosysTools
ProjectVariable.MYVAR=foo
SRC=src/main/java
ENTITY_PKG=org.riphouse.dto
ProjectVariable.MAVEN_ARTIFACT_ID=ripHouse-ejb
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
